<form method="post" action="{{ path('a_w_s_object_delete', {'id': a_w_s_object.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a_w_s_object.id) }}">
    <button class="btn">Delete</button>
</form>
